@use "mixins";
@use "values";

@for $i from 0 through 10 {
    .buffer-#{$i} {
        margin-top: calc( (#{values.$valenski-base-unit} / 2) * #{$i}) !important;
        margin-bottom: calc( (#{values.$valenski-base-unit} / 2) * #{$i}) !important;
    }

    .buffer-top-#{$i} {
        margin-top: values.$valenski-base-unit * $i !important;
    }

    .buffer-bottom-#{$i} {
        margin-bottom: values.$valenski-base-unit * $i !important;
    }
}

.sr-only {
    @include mixins.sr-only;
}