@mixin respond-from($min) {
    @media (min-width: $min) {
        @content;
    }
}

@mixin respond-until($max) {
    @media (max-width: $max - 1) {
        @content;
    }
}

@mixin respond-between($min, $max) {
    @media (min-width: $min) and (max-width: $max - 1) {
        @content;
    }
}

@mixin wh($width, $height: none) {
    width: $width;

    @if($height == none) {
        height: $width;
    } @else {
        height: $height;
    }
}

@mixin pos($coords...) {
    @if length($coords) == 1 {
        top: nth($coords, 1);
        right: nth($coords, 1);
        bottom: nth($coords,1);
        left: nth($coords, 1);
    } @else {
        top: nth($coords, 1);
        right: nth($coords, 2);
        bottom: nth($coords, 3);
        left: nth($coords, 4);
    }
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin background-center($size: cover) {
    background-size: $size;
    background-repeat: no-repeat;
    background-position: center center;
}

@mixin transform-center-horizontal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin transform-center-vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin transform-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin flex-center($direction: column) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}