* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

// Set up stuff for rems, so 1rem = 10px. On mobile and screens with very
// small height, set it to 8px
html {
    font-size: $valenski-font-size-base;

    @if $valenski-use-small-font-size {
        @include respond-until($screen-sm) {
            font-size: $valenski-font-size-small;
        }

        @media (max-height: $valenski-screen-small-height) {
            font-size: $valenski-font-size-small;
        }
    }
}

body {
    background-color: white;
    color: black;
    overflow-x: hidden;
}

img {
    border: 0; // Be kind for IE9
}

button {
    outline: none;
    cursor: pointer;
    background: none;
    border: 0;
}

// These elements don't inherit the font styles by default
input, select, textarea, button {
    font: inherit;
}