// These are the same values bootstrap uses
$screen-xs: 480px !default;
$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-lg: 1200px !default;

$valenski-screen-small-height: 650px !default; // Screens with a small height (not width!)

$valenski-base-unit: 10px !default;
$valenski-font-size-base: $valenski-base-unit !default; // Used for setting up rems
$valenski-font-size-small: 8px !default; // Used for setting up rems on mobile / small screens
$valenski-use-small-font-size: true !default; // If this is set to false, the small font size won't be used anywhere

// CSS variables with the same contents
:root {
    --screen-xs: #{$screen-xs};
    --screen-sm: #{$screen-sm};
    --screen-md: #{$screen-md};
    --screen-lg: #{$screen-lg};

    --valenski-screen-small-height: #{$valenski-screen-small-height};
    --valenski-base-unit: #{$valenski-base-unit};
    --valenski-font-size-base: #{$valenski-font-size-base};
    --valenski-font-size-small: #{$valenski-font-size-small};
    --valenski-use-small-font-size: #{$valenski-use-small-font-size};
}