@use "valenski";
@use "mixins";
@use "values";

.respond-from {
    @include mixins.respond-from(values.$screen-xs) {
        display: none;
    }
}

.respond-until {
    @include mixins.respond-until(values.$screen-sm) {
        display: none;
    }
}

.respond-between {
    @include mixins.respond-between(values.$screen-md, values.$screen-lg) {
        display: none;
    }
}

.wh {
    @include mixins.wh(200px, 300px);
}

.wh2 {
    @include mixins.wh(200px); // One argument makes width and height equal
}

.pos-1-arg {
    @include mixins.pos(0);
}

.pos-2-arg {
    @include mixins.pos(200px, 100px);
}

.pos-4-arg {
    @include mixins.pos(1px, 2px, 3px, 4px);
}

.clearfix {
    @include mixins.clearfix;
}

.background-center {
    @include mixins.background-center();
}

.background-center {
    @include mixins.background-center(contain);
}

.margin-center {
    @include mixins.margin-center;
}

.child-margins {
    @include mixins.child-margins;
}

.child-margins-argument {
    @include mixins.child-margins(30px);
}