@use "../../mixins";
@use "values";

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 1.8rem;
    background: values.$c-1;
    line-height: 1.3333;
}

main {
    background: white;
    max-width: 80rem;
    padding: 3rem 1rem;
    @include mixins.margin-center;
    @include mixins.child-margins(2rem);
}

h1 {
    text-align: center;
    color: values.$c-1;
    font-size: 6rem;
}

a {
    text-decoration: none;
}

h3 {
    font-weight: normal;
}

ul {
    margin-left: 3rem;
}

h2 + p,
h2 + ul,
h3 + p {
    margin-top: 0;
}

// These two rules are a bit of a dirty hack for styling the header, but oh well
main > p:nth-of-type(1) {
    margin-top: 0;
    font-size: 3rem;
    text-align: center;
}

main > p:nth-of-type(2),
main > p:nth-of-type(3) {
    text-align: center;
}

pre {
    background: values.$c-2;
    padding: 1rem;
    font-size: 1.6rem;
    overflow-x: auto;
}