.buffer-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important; }

.buffer-top-0 {
  margin-top: 0px !important; }

.buffer-bottom-0 {
  margin-bottom: 0px !important; }

.buffer-1 {
  margin-top: 5px !important;
  margin-bottom: 5px !important; }

.buffer-top-1 {
  margin-top: 10px !important; }

.buffer-bottom-1 {
  margin-bottom: 10px !important; }

.buffer-2 {
  margin-top: 10px !important;
  margin-bottom: 10px !important; }

.buffer-top-2 {
  margin-top: 20px !important; }

.buffer-bottom-2 {
  margin-bottom: 20px !important; }

.buffer-3 {
  margin-top: 15px !important;
  margin-bottom: 15px !important; }

.buffer-top-3 {
  margin-top: 30px !important; }

.buffer-bottom-3 {
  margin-bottom: 30px !important; }

.buffer-4 {
  margin-top: 20px !important;
  margin-bottom: 20px !important; }

.buffer-top-4 {
  margin-top: 40px !important; }

.buffer-bottom-4 {
  margin-bottom: 40px !important; }

.buffer-5 {
  margin-top: 25px !important;
  margin-bottom: 25px !important; }

.buffer-top-5 {
  margin-top: 50px !important; }

.buffer-bottom-5 {
  margin-bottom: 50px !important; }

.buffer-6 {
  margin-top: 30px !important;
  margin-bottom: 30px !important; }

.buffer-top-6 {
  margin-top: 60px !important; }

.buffer-bottom-6 {
  margin-bottom: 60px !important; }

.buffer-7 {
  margin-top: 35px !important;
  margin-bottom: 35px !important; }

.buffer-top-7 {
  margin-top: 70px !important; }

.buffer-bottom-7 {
  margin-bottom: 70px !important; }

.buffer-8 {
  margin-top: 40px !important;
  margin-bottom: 40px !important; }

.buffer-top-8 {
  margin-top: 80px !important; }

.buffer-bottom-8 {
  margin-bottom: 80px !important; }

.buffer-9 {
  margin-top: 45px !important;
  margin-bottom: 45px !important; }

.buffer-top-9 {
  margin-top: 90px !important; }

.buffer-bottom-9 {
  margin-bottom: 90px !important; }

.buffer-10 {
  margin-top: 50px !important;
  margin-bottom: 50px !important; }

.buffer-top-10 {
  margin-top: 100px !important; }

.buffer-bottom-10 {
  margin-bottom: 100px !important; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

html {
  font-size: 10px; }
  @media (max-width: 767px) {
    html {
      font-size: 8px; } }
  @media (max-height: 650px) {
    html {
      font-size: 8px; } }

body {
  background-color: white;
  color: black;
  overflow-x: hidden; }

img {
  border: 0; }

button {
  outline: none;
  cursor: pointer;
  background: none;
  border: 0; }

input, select, textarea, button {
  font: inherit; }

.center {
  text-align: center; }

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.8rem;
  background: #6b6db7; }

main {
  background: white;
  max-width: 80rem;
  padding: 3rem 1rem;
  margin-left: auto;
  margin-right: auto; }
  main > * + * {
    margin-top: 2rem; }

h1 {
  text-align: center;
  color: #6b6db7;
  font-size: 6rem; }

ul {
  margin-left: 3rem; }

main > p:nth-of-type(1) {
  margin-top: 0;
  font-size: 3rem;
  text-align: center; }

main > p:nth-of-type(2) {
  text-align: center; }

pre {
  background: #ddd;
  padding: 1rem; }


